{% extends 'base.html' %}
{% block content%}
<div id="home" class="container">
    <div class="row">
        <h3>Dashboards</h3>
        <h5 v-if="!dashboards.length" class="center-align">No dashboards yet! Make one below!</h5>
        <div class="row">
            <dash-preview v-for="dashboard in dashboards" :key="dashboard.id" :dashboard="dashboard"></dash-preview>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a :class="'btn-floating btn-large tooltipped modal-trigger cyan' + (!dashboards.length ? ' pulse':'') "
            href="#new-dashboard" data-position="left" data-tooltip="Create a new dashboard"><i
                class="material-icons">add</i></a>
    </div>
    <div id="new-dashboard" class="modal">
        <div class="modal-content">
            <h4>Create a new dashboard</h4>
            <input type="text" name="name" id="name" v-model="name" />
            <label for="name">Dashboard Name</label>
            <p class="red-text">[[error]]</p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-cyan btn-flat">Cancel</a>
            <a class="waves-effect waves-cyan btn-flat" @click="createDash()">Create [[name? name : 'Dashboard']]</a>
        </div>
    </div>
</div>
<script type="module">
    import {dashPreview} from './static/js/components/dashPreview.js'
    Vue.component('dash-preview', dashPreview)
    const vm = new Vue({
        el: "#home",
        delimiters: ["[[", "]]"],
        data() {
            return {
                name: '',
                error: '',
                dashboards: [],
            }
        },
        methods: {
            createDash: function () {
                axios.post(createDashboardPath, {name:this.name}).then((response) => {
                    location.href = '/dashboard/' + response.data.dashboard.slug
                }).catch((error) => {
                    this.error = error.response.data.error;
                });
            }
        },
        created() {
            axios.get(getDashboardsPath).then((response) => {
                this.dashboards = response.data.dashboards
            })
        }
    })
</script>
{% endblock%}
