body {
  height: 100vh;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 0;
}

#login,
#register {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;

  .form {
    display: inline-block;
    padding: 32px 48px;
    border: 1px solid #eee;
  }
}

#register {
  .row {
    margin-bottom: 0;
  }
}

.dash-preview {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.bool-mark {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  &.true {
    background-color: #4caf50;
  }
  &.false {
    background-color: #f44336;
  }
}

.d-flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
